*{
    box-shadow: border-box;
    list-style: none;
    margin:0px;
    padding:0px;
    text-decoration:none;
    font-family: "Neue-Helvetica","Helvetica","Arial",Sans-Serif;
}

header{
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    position:fixed;
    align-items:center;
    color:white;
}

.menu,
.logo{
    width:20%;
    padding:20px;
    display:flex;
    justify-content:center;
}


.menuicon{
    font-size: 35px;
    padding:20px;
    padding-left:20px;
}



.datos-usuario{
    width:30%;
    padding:20px;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size:15px;
}

.sidenav {
    height: 100%;
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: white; 
    overflow-x: hidden; 
    padding-top: 60px;
    transition: 0.5s;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color:black;
  }

  .sidenav li h2{
      padding:10px;
      font-size:30px;
  }

  .closemenu{
      position: absolute;
      top:20px;
      right: 30px;
  }

  .modelos li{
      padding:1px;
      font-size: 15px;
  }

  .background{
      height:100vh;
      width:100vw;
      position: fixed;
  }

  .background{
      background-image:url('/img/backgroundmujer.jpg');
      background-size:cover;
      position:absolute;
      top:0px;
      z-index:-1;
      display:grid;
      grid-template-columns:1fr 2fr 1fr;
      justify-content: space-between;
      align-items: center;
  }


.anuncio{
    padding:50px;
    height:40%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    color:white;
}

.anuncio h1{
    font-size: 65px;
    font-weight: 900;
    padding:10px;
}

.anuncio a{
    width:20%;
    height:20%
}


.button{
    background-color: rgba(0, 0, 0, 0.3);
    border-color: white;
    color:white;
    width:100%;
    text-align: center;

}

.hombres,
.chicos{
    color:white;
    padding:30px;
    font-size:17px;
    display:flex;
    flex-direction: row;
    align-items: center;
}

.chicos{
    flex-direction:row-reverse;
}

.hombres i,
.chicos i{
    font-size: 40px;
    padding:10px;
}

.logo{
    font-size: 30px;
}


.buscador{
    width:50%;
    padding:20px;
    display:grid;
    grid-template-columns: 60% 15%;
    grid-gap:10px;
    justify-content:space-evenly;
    
}
.searchbar{
    width: 100%;
    height:30px;
    border-color: white;
    padding:5px;
}

.buscador button{
color:white;
background-color: lightblue;
}

.fa-shopping-cart{
    font-size: 30px;;
}

footer{
    position:absolute;
    bottom:0px;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.hiddenfooter{
    height:0px;
    width:100%;
    overflow-y:hidden;
    transition:0.5s;
    background: white;
    z-index:1;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    
}

footer h3{
    font-size: 25px;
    color:white;
    text-align: center;
    margin:auto;
    align-items:center;
}

.social{
    width:70%;
    padding:20px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
}

.mail{
    width:40%;
    margin:20px;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-around;
}

.mail input{
    width:70%;
}

.mail button{
    color:white;
    background-color:lightblue;
    padding:5px;
}

.encabezado{
    display:grid;
    width:80%;
    grid-template-columns: 99% 1% ;
    justify-content: center;
    align-content: center;
    align-items:center;
}

.encabezado h2{
    text-align: center;
}